{
  "reporter": [
    "lcov",
    "text"
  ],
  "require": [
    "@babel/register"
  ],
  "include": ["src"],
  "exclude": ["example", "coverage"],
  "all": true,
  "sourceMap": false,
  "instrument": false
}